<footer class="grid py-16 gap-12 text-white text-center bg-black grid-cols-3">
    <div class="col-start-2 md:col-start-1">
        <a href="/"<h2 class="text-5xl mb-4 lg:text-4xl font-semibold lg:mb-16">dine</h2></a>
    </div> 
    <div class="col-start-2 flex flex-col gap-4 font-normal uppercase">
        <p>Marthwaite, Sedbergh</p>
        <p>Cumbria</p>
        <p>+00 44 123 4567</p>
    </div>
    </div>
    <div class="col-start-2 lg:col-start-3 flex flex-col gap-4 font-normal uppercase">
        <p>Open Times</p>
        <p>Mon - Fri: 09:00 AM - 10:00 PM</p>
        <p>Sat - Sun: 09:00 AM - 11:30 PM</p>
    </div>
</footer>
